/* Sección de Contacto */
.contacto {
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.contacto__titulo {
  color: #333;
  margin-bottom: 1rem;
}

.contacto__descripcion {
  color: #555;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.contacto__formulario .formulario__grupo {
  margin-bottom: 1.5rem;
}

.contacto__formulario .formulario__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
  font-size: 15px;
}

.contacto__formulario .formulario__input,
.contacto__formulario .formulario__textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.contacto__formulario .formulario__boton {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contacto__formulario .formulario__boton:hover {
  background-color: #0056b3;
}
